/*Shared Style*/
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
#gradiant-background{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.h1-text-format{
    color: #ffffff;
    font-weight: bolder;
}
.h2-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
    text-align: center;
}
.h4-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    -webkit-text-stroke-color: #1A0B2E;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.h6-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.h6-text-format-time{
    color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    -webkit-text-stroke-color: #1A0B2E;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.p-text-format{
    color: #FAFAFA;
    font-size: 1rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}

/******************************* navbar section ******************************/
.navbar{
    background-color: #1A0B2E;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #412567;
        
}


span{
  background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.nav-items{
    display:flex;             
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}


.nav-items a{
    text-decoration: none;
    color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    font-size: 1rem;
    font-weight:500;  
    padding: auto;
    margin: auto;
    cursor: pointer;
}  
.nav-items a:hover{
    background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 40px;
    padding: 10px 15px;
    transition: ease-in .2s;
}

.subscribe-button{
    border: none;
    border-radius:40px ;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    display:flex;             
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4%;
    transition: ease-in .2s;
}
.subscribe-button:hover{
    transform: scale(1.1);
}

.subscribe-button img{
    background-color: none;
}
.hamburger-menu{
    display: none;
}
/**************************** banner section ***********************************/
.banner{
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    padding-top: 50px;
    background-image: url(images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-circle{  
    width: 22%; 
    height: auto;
    position: relative;
    padding-bottom: 30px;
}

.banner-circle-back {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}

.banner-circle-front {
    width: 25%;      
    height: auto;
    position: absolute;
    object-fit: cover;
    top: 30%;
    left: 38%;
}
.badge{
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 600;
    background-color: #00FF88;
    border-color: none;
    border-radius: 25px;
    width: 60px;
    height: auto;
    margin: 0;
    padding: 6px;
    text-align: center;
    position: absolute;
    object-fit: cover;
    top: 10%;
    left: 80%;
       
}

.banner-heading{
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.banner-description{
    margin: 0;
    padding: 0;
}
.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}
.banner-button-spotify{
    border:none;
    border-radius:40px ;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    width: 200px;
    height: 44px;
    padding: auto;
    margin: 0;
    cursor: pointer;
    gap: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-button-subscribe{
    border: 1px solid #00FF88;
    border-radius:40px ;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    width: 150px;
    height: 44px;
    padding: auto;
    margin: 0;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-button-subscribe:hover{
    background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 40px;
    padding: 10px 15px;
    
    
}
/**************************** about section ****************************/
.about{
    background-color: #1A0B2E;
    width: 100%;
    height: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 140px;
    padding-bottom: 200px;
}
.about-text{
    text-align: center;
    
    
}
.about-text h2{
    padding-bottom:30px ;
}
.about-text p{
    padding-bottom:50px ;
}
.about-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:50px ;
}
#about-stats-card-green-font{
    color: #00FF88;
}

/******************************** why choose section ****************************************/

.Why-Choose-TechWave{
    width: 100%;
    height: auto;
    background-color: #230E3D;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 140px;
    padding-bottom: 200px;
}
.Why-Choose-TechWave h2{
    padding-bottom: 40px;
}

.why-choose-card{
    background-color: #351165;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.grid-child-audio{
    grid-area: grid-child-audio ;
}
.grid-child-mobile{
    grid-area: grid-child-mobile ;
}
.grid-child-global{
    grid-area: grid-child-global ;
}
.grid-child-exclusive{
    grid-area: grid-child-exclusive ;
}
.grid-child-rich{
    grid-area: grid-child-rich ;
}
.why-choose-cards{
    display: grid;
    gap: 30px;
    grid-template-areas: "grid-child-audio grid-child-mobile grid-child-mobile grid-child-mobile"
                        "grid-child-audio grid-child-global grid-child-global grid-child-global" 
                        "grid-child-exclusive grid-child-exclusive grid-child-exclusive grid-child-rich" ;

}

/****************************** featured episodes+ meet the hostsection **********************************/

.featured-meet{
    background-color: #1A0B2E;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 120px;
    width: 100%;
    height: auto;
}
.featured-heading, .meet-heading{
    
    width: 100%;
    height: auto;
    padding: 60px;
}
.featured-cards{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    
}
.featured-card{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #351165;
    border-radius: 30px;
    transition: 0.3s ease-in;
}
.featured-card:hover{
    transform: scale(1.03);
}
.featured-card iframe{
    border-radius: 30px 30px 0 0;
}
.featured-card h4{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.featured-card p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.featured-card h6{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.meet-describtion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351165;
    border-radius: 30px;
    width: 100%;
    height: auto;
    padding: 5%;
    gap: 2%;
}
.meet-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding-top: 10px;
}

.meet-link-button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #533C72;
    border-radius: 50%;
    transition: 0.2s ease-in;
}
.meet-link-button:hover{
    transform: scale(1.2);
}
.meet-link-button img{
    width: 18px;
    height: 18px;
    object-fit: contain;   
}


/*************footer section *****************/
footer{
    background-image: url(images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer h1{
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: bolder;
    padding-bottom: 20px;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 15px;
}
.footer-links a{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #FAFAFA;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
}

footer p{
    color: #FAFAFA;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
}



/********************************************************************responsive media query***********************************************************/


@media screen and (max-width:576px){


/*********** navbar **********/

.navbar{
    padding-left: 5%;
    padding-right: 5%;
}
.nav-items,
.subscribe-button{
    display: none;
}
.hamburger-menu{
    display: block;
}

/*********** banner **********/

.banner{
    text-align: center;
    padding: 10%;
}

.banner-circle{  
    width: 55%; 
}

.banner-circle-front {
    top: 26%;
    left: 38%;
}
.badge{
    width: 60px;
    top: 10%;
    left: 78%;      
}

/*********** about **********/

.about{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-text h2{
    padding-bottom:30px ;
}
.about-text p{
    padding-bottom:15px ;
}

.about-stats{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 14px;
    
}


/***************why choose section********************/
.Why-Choose-TechWave{  
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 80px;}

.why-choose-cards{
    grid-template-areas: "grid-child-audio"
                         "grid-child-mobile"
                         "grid-child-global" 
                         "grid-child-exclusive"
                         "grid-child-rich";

}

/******* featured episodes section **********/
.featured-meet{
    padding-left: 5%;
    padding-right: 5%;
}

.featured-cards, .meet-describtion{
    flex-direction: column;
    gap: 15px;
}
.meet-links, .featured-cards{
    justify-content: center;
}
    
.featured-card{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.meet-describtion-text{
    text-align: center;
}

/********** footer **************/
footer{
    height:auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer h1{
    font-size: 2.5rem;
}
.footer-links{
    flex-wrap: wrap;
    gap: 36px;
}



}