/*Shared Style*/
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
#gradiant-background{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.h2-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.h4-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    -webkit-text-stroke-color: #1A0B2E;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.h6-text-format{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.h6-text-format-time{
    color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    -webkit-text-stroke-color: #1A0B2E;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}
.p-text-format{
    color: #FAFAFA;
    font-size: 1rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
    margin: 0;
    padding: 0;
}

/******************************* navbar section ******************************/
.navbar{
    background-color: #1A0B2E;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92px;
    border-bottom: 2px solid #412567;
    
    
}
.navbar h1{
    color: #ffffff;
    font-weight: bolder;
}


span{
  background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.nav-items{
    display:flex;             
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.nav-items a{
    text-decoration: none;
    color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    font-size: 1rem;
    font-weight:500;  
    padding: auto;
    margin: auto;
    cursor: pointer;
}  

.subscribe-button{
    border: none;
    border-radius:40px ;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    display:flex;             
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 4%;  
}
.subscribe-button img{
    background-color: none;
}
.hamburger-menu{
    display: none;
}
/* banner section */
/* about section */
/* why choose section */


/****************************** featured episodes section **********************************/

.featured-meet{
    background-color: #1A0B2E;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 120px;
    width: 100%;
    height: auto;
}
.featured-heading, .meet-heading{
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 60px;
}
.featured-cards{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    
}
.featured-card{
    width: 25%;
    height: auto;
    margin: 0;
    padding: 0;
}
.meet-describtion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351165;
    border-radius: 30px;
    height: auto;
    padding: 5%;
    gap: 2%;
}
.meet-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding-top: 10px;
}
.meet-links a{
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: .5px solid red;
    border-radius: 50%;
}
/* footer section */
footer{
    background-image: url(images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer h1{
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: bolder
 
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 30%;
}
.footer-links a{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 2%;
    text-decoration: none;
    color: #FAFAFA;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
}

footer p{
    color: #FAFAFA;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .02rem;
    text-shadow: 0 4 4 0 #00000025;
}



/**************************responsive media query***************************/
@media screen and (max-width:576px){
/*********** navbar **********/
    .navbar{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 60px;
}
.nav-items,
.subscribe-button{
    display: none;
}
.hamburger-menu{
    display: block;
}

/********** footer **************/
footer{
    height: 248px;
}
footer h1{
    font-size: 3rem;
}
.footer-links{
    
}
/******* featured episodes section **********/
.featured-meet{
    padding-left: 2%;
    padding-right: 2%;
  
}

.featured-cards, .meet-describtion{
    flex-direction: column;
    padding: 0;
}
.meet-links, .featured-cards{
    justify-content: center;
}
    
.featured-card{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

}